* {
	margin: 0;  /* todos elemtos teem margin 0 */
	color: white;
	font-family: arial, noto-sans;
}
:root {
	--cor-verde: #6ee7b7;
	--cor-azul: #99c6ff;
}
.bg {
    background-color: #2b2b2b;
    max-height: 100vh;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
}
h1 {
	margin-top: 20px;
	font-family: "Barrio";
	font-size: 3em;
}
p {
	text-align: center;
	margin: 0px 50px;
}
img {
	width: 400px;
	height: auto;
	border: 2px solid white;
	border-radius: 5px;
}
button {
	padding: 75px 150px;
	background: linear-gradient(to top right, #6ee7b7, #99c6ff);
	border-radius: 5px;
	margin: 0px 0px 20px 0px;
}
